# Bỏ qua file nhị phân chung
*.exe
*.dll
*.o
*.so
*.a
*.bin
*.out
*.class
*.pyc
*.pyo
*.pyd

# Bỏ qua file sinh ra sau khi biên dịch
/build/
bin/
obj/
dist/

# Bỏ qua tệp log, cache
*.log
*.tmp
*.cache
*.bak
